* , * ::after, * ::before {
	box-sizing: border-box
}

html {
	font-size: 62.5%
}

body {
	font-size: 1.6rem;
	font-family: "Manrope", sans-serif;
	color: #fff;
	background-color: #000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

a {
	color: #283040;
	text-decoration: none
}

h1 {
	color: #fff;
	margin-bottom: 1em;
	font-size: 2.2rem
}

@media only screen and (min-width:768px) {
	h1 {
		font-size: 4.4rem;
		font-weight: 300
	}
}

.cd-btn {
	display: inline-block;
	padding: 1rem;
	margin-bottom: 2em;
	/* border-radius: 50em; */
	background-color: #000;
	color: #fff;
	font-weight: 700;
	font-size: 1.4rem;
	/* letter-spacing: 1px; */
	text-transform: uppercase;
	/* box-shadow: 0 1px 4px rgba(0, 0, 0, .1)
 */}

.no-touch .cd-btn:hover {
	background-color: #323c50
}

.cd-about .cd-btn {
	background-color: #4089a6
}

.cd-nugget-info {
	text-align: center
}

.cd-nugget-info a {
	position: relative;
	font-size: 14px;
	font-weight: 700;
	color: #7fb7cd;
	transition: all .2s
}

.no-touch .cd-nugget-info a:hover {
	opacity: .6
}

.cd-nugget-info span {
	vertical-align: middle;
	display: inline-block
}

.cd-nugget-info span svg {
	display: block
}

.cd-nugget-info .cd-nugget-info-arrow {
	fill: #7fb7cd
}

#carbonads-container, #ui8ads-container {
	position: fixed;
	top: 40px;
	right: 5%;
	width: 180px;
	display: none;
	z-index: 1
}

#carbonads-container .close-carbon-adv, #carbonads-container .close-ui8-adv,
#ui8ads-container .close-carbon-adv, #ui8ads-container .close-ui8-adv {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 100%;
	background: rgba(20, 24, 33, .8);
	text-indent: 100%;
	overflow: hidden;
	width: 32px;
	height: 32px
}

#carbonads-container .close-carbon-adv:hover, #carbonads-container .close-ui8-adv:hover,
#ui8ads-container .close-carbon-adv:hover, #ui8ads-container .close-ui8-adv:hover {
	background: #141821
}

#carbonads-container .close-carbon-adv::after, #carbonads-container .close-carbon-adv::before,
#carbonads-container .close-ui8-adv::after, #carbonads-container .close-ui8-adv::before,
#ui8ads-container .close-carbon-adv::after, #ui8ads-container .close-carbon-adv::before,
#ui8ads-container .close-ui8-adv::after, #ui8ads-container .close-ui8-adv::before {
	content: '';
	background-color: #fff;
	height: 2px;
	width: 14px;
	position: absolute;
	top: 14px;
	left: 9px
}

#carbonads-container .close-carbon-adv::after, #carbonads-container .close-ui8-adv::after,
#ui8ads-container .close-carbon-adv::after, #ui8ads-container .close-ui8-adv::after {
	transform: rotate(45deg)
}

#carbonads-container .close-carbon-adv::before, #carbonads-container .close-ui8-adv::before,
#ui8ads-container .close-carbon-adv::before, #ui8ads-container .close-ui8-adv::before {
	transform: rotate(-45deg)
}

#carbonads-container .carbonad, #carbonads-container .ui8ad, #ui8ads-container .carbonad,
#ui8ads-container .ui8ad {
	background: rgba(255, 255, 255, .9);
	border: none;
	width: 100%;
	height: auto;
	padding: 14px;
	text-align: center;
	border-radius: 0 3px 3px 3px;
	box-shadow: 0 0 20px rgba(0, 0, 0, .1)
}

#carbonads-container .carbonad .carbonad-image img, #carbonads-container .carbonad .ui8ad-image img,
#carbonads-container .ui8ad .carbonad-image img, #carbonads-container .ui8ad .ui8ad-image img,
#ui8ads-container .carbonad .carbonad-image img, #ui8ads-container .carbonad .ui8ad-image img,
#ui8ads-container .ui8ad .carbonad-image img, #ui8ads-container .ui8ad .ui8ad-image img {
	width: 130px
}

#carbonads-container .carbonad .carbonad-image img, #carbonads-container .ui8ad .carbonad-image img,
#ui8ads-container .carbonad .carbonad-image img, #ui8ads-container .ui8ad .carbonad-image img {
	margin: 0 0 10px 10px
}

#carbonads-container .carbonad .ui8ad-image img, #carbonads-container .carbonad .carbon-img img,
#carbonads-container .ui8ad .ui8ad-image img, #carbonads-container .ui8ad .carbon-img img,
#ui8ads-container .carbonad .ui8ad-image img, #ui8ads-container .carbonad .carbon-img img,
#ui8ads-container .ui8ad .ui8ad-image img, #ui8ads-container .ui8ad .carbon-img img {
	margin: 0 10px 10px;
	width: 130px
}

#carbonads-container .carbonad .carbon-text, #carbonads-container .carbonad .carbonad-tag,
#carbonads-container .carbonad .carbon-poweredby, #carbonads-container .carbonad .ui8ad-text,
#carbonads-container .carbonad .ui8ad-tag, #carbonads-container .ui8ad .carbon-text,
#carbonads-container .ui8ad .carbonad-tag, #carbonads-container .ui8ad .carbon-poweredby,
#carbonads-container .ui8ad .ui8ad-text, #carbonads-container .ui8ad .ui8ad-tag,
#ui8ads-container .carbonad .carbon-text, #ui8ads-container .carbonad .carbonad-tag,
#ui8ads-container .carbonad .carbon-poweredby, #ui8ads-container .carbonad .ui8ad-text,
#ui8ads-container .carbonad .ui8ad-tag, #ui8ads-container .ui8ad .carbon-text,
#ui8ads-container .ui8ad .carbonad-tag, #ui8ads-container .ui8ad .carbon-poweredby,
#ui8ads-container .ui8ad .ui8ad-text, #ui8ads-container .ui8ad .ui8ad-tag {
	font-family: helvetica neue, Arial, sans-serif
}

#carbonads-container .carbonad .carbon-wrap, #carbonads-container .carbonad .ui8ad-text,
#carbonads-container .ui8ad .carbon-wrap, #carbonads-container .ui8ad .ui8ad-text,
#ui8ads-container .carbonad .carbon-wrap, #ui8ads-container .carbonad .ui8ad-text,
#ui8ads-container .ui8ad .carbon-wrap, #ui8ads-container .ui8ad .ui8ad-text {
	display: block;
	width: 100%;
	padding: 0
}

#carbonads-container .carbonad .carbon-wrap a, #carbonads-container .carbonad .ui8ad-text a,
#carbonads-container .ui8ad .carbon-wrap a, #carbonads-container .ui8ad .ui8ad-text a,
#ui8ads-container .carbonad .carbon-wrap a, #ui8ads-container .carbonad .ui8ad-text a,
#ui8ads-container .ui8ad .carbon-wrap a, #ui8ads-container .ui8ad .ui8ad-text a {
	color: #283040;
	font-size: 13px;
	font-weight: 700
}

.no-touch #carbonads-container .carbonad .carbon-wrap a:hover, .no-touch #carbonads-container .carbonad .ui8ad-text a:hover,
.no-touch #carbonads-container .ui8ad .carbon-wrap a:hover, .no-touch #carbonads-container .ui8ad .ui8ad-text a:hover,
.no-touch #ui8ads-container .carbonad .carbon-wrap a:hover, .no-touch #ui8ads-container .carbonad .ui8ad-text a:hover,
.no-touch #ui8ads-container .ui8ad .carbon-wrap a:hover, .no-touch #ui8ads-container .ui8ad .ui8ad-text a:hover {
	text-decoration: underline
}

#carbonads-container .carbonad .carbonad-tag, #carbonads-container .carbonad .carbon-poweredby,
#carbonads-container .carbonad .ui8ad-tag, #carbonads-container .ui8ad .carbonad-tag,
#carbonads-container .ui8ad .carbon-poweredby, #carbonads-container .ui8ad .ui8ad-tag,
#ui8ads-container .carbonad .carbonad-tag, #ui8ads-container .carbonad .carbon-poweredby,
#ui8ads-container .carbonad .ui8ad-tag, #ui8ads-container .ui8ad .carbonad-tag,
#ui8ads-container .ui8ad .carbon-poweredby, #ui8ads-container .ui8ad .ui8ad-tag {
	margin-top: 5px;
	color: #4089a6
}

#carbonads-container .carbonad .carbonad-tag a, #carbonads-container .carbonad .carbon-poweredby a,
#carbonads-container .carbonad .ui8ad-tag a, #carbonads-container .ui8ad .carbonad-tag a,
#carbonads-container .ui8ad .carbon-poweredby a, #carbonads-container .ui8ad .ui8ad-tag a,
#ui8ads-container .carbonad .carbonad-tag a, #ui8ads-container .carbonad .carbon-poweredby a,
#ui8ads-container .carbonad .ui8ad-tag a, #ui8ads-container .ui8ad .carbonad-tag a,
#ui8ads-container .ui8ad .carbon-poweredby a, #ui8ads-container .ui8ad .ui8ad-tag a {
	color: #4089a6
}

#carbonads-container .carbonad .carbonad-tag a:hover, #carbonads-container .carbonad .carbon-poweredby a:hover,
#carbonads-container .carbonad .ui8ad-tag a:hover, #carbonads-container .ui8ad .carbonad-tag a:hover,
#carbonads-container .ui8ad .carbon-poweredby a:hover, #carbonads-container .ui8ad .ui8ad-tag a:hover,
#ui8ads-container .carbonad .carbonad-tag a:hover, #ui8ads-container .carbonad .carbon-poweredby a:hover,
#ui8ads-container .carbonad .ui8ad-tag a:hover, #ui8ads-container .ui8ad .carbonad-tag a:hover,
#ui8ads-container .ui8ad .carbon-poweredby a:hover, #ui8ads-container .ui8ad .ui8ad-tag a:hover {
	color: #283040
}

#carbonads-container .carbonad .ui8ad-tag, #carbonads-container .carbonad .carbon-poweredby,
#carbonads-container .ui8ad .ui8ad-tag, #carbonads-container .ui8ad .carbon-poweredby,
#ui8ads-container .carbonad .ui8ad-tag, #ui8ads-container .carbonad .carbon-poweredby,
#ui8ads-container .ui8ad .ui8ad-tag, #ui8ads-container .ui8ad .carbon-poweredby {
	display: inline-block;
	font-size: 11px;
	line-height: 15px
}

@media only screen and (min-width:1170px) {
	#carbonads-container, #ui8ads-container {
		display: block
	}
}

body::after, body::before {
	content: '';
	height: 50vh;
	width: 100%;
	position: fixed;
	left: 0;
	background-color: #000;
	z-index: 2;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: transform .4s .4s
}

body::before {
	top: 0;
	transform: translateY(-100%)
}

body::after {
	bottom: 0;
	transform: translateY(100%)
}

body.page-is-changing::after, body.page-is-changing::before {
	transform: translateY(0);
	transition: transform .4s 0s
}

main {
	height: 100vh;
	/* padding: 10px; */
	text-align: center
}

main .cd-main-content {
	position: relative;
	height: calc(100vh - 20px)
}

main .cd-main-content > div {
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch
}

main .cd-main-content::after, main .cd-main-content::before {
	content: '';
	position: absolute;
	left: 0;
	height: 50px;
	width: 100%
}

main .cd-main-content::before {
	top: 0
}

main .cd-main-content::after {
	bottom: 0
}

main .cd-main-content.cd-index {
	background-color: #4089a6;
	display: table;
	width: 100%
}

main .cd-main-content.cd-index > div {
	display: table-cell;
	vertical-align: middle
}

main .cd-main-content.cd-index::after {
	background-color: transparent;
	background-image: linear-gradient(to top, #4089a6, rgba(64, 137, 166, 0))
}

main .cd-main-content.cd-index::before {
	background-color: transparent;
	background-image: linear-gradient(to bottom, #4089a6, rgba(64, 137, 166, 0))
}

main .cd-main-content.cd-about {
	background-color: #283040
}

main .cd-main-content.cd-about > div {
	padding-top: 50px
}


main p {
	width: 90%;
	max-width: 768px;
	margin: 3em auto;
	font-size: 1.4rem;
	line-height: 1.6;
	color: #535966;
	text-align: left
}

@media only screen and (min-width:768px) {
	main {
		padding: 20px
	}

	main .cd-main-content {
		height: calc(100vh - 40px)
	}

	main.cd-index > div {
		padding-top: 200px
	}

	main.cd-index > div {
		padding-top: 50px
	}

	main p {
		font-size: 1.8rem;
		line-height: 2
	}
}

.cd-cover-layer {
	position: fixed;
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	transform: translateX(-50%) translateY(-50%);
	height: calc(100% - 20px);
	width: calc(100% - 20px);
	opacity: 0;
	visibility: hidden;
	background-color: #4089a6;
	transition: opacity .4s .4s, visibility 0s .8s
}

.cd-about .cd-cover-layer {
	background-color: #283040
}

.page-is-changing .cd-cover-layer {
	opacity: 1;
	visibility: visible;
	transition: opacity .3s 0s, visibility 0s 0s
}

@media only screen and (min-width:768px) {
	.cd-cover-layer {
		height: calc(100% - 40px);
		width: calc(100% - 40px)
	}
}

.cd-loading-bar {
	position: fixed;
	z-index: 3;
	left: 50%;
	top: 50%;
	height: 2px;
	width: 90%;
	background-color: #4089a6;
	visibility: hidden;
	transition: visibility 0s .4s, transform .4s 0s ease-in;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translateZ(0);
	transform: translateX(-50%) translateY(-50%)
}

.cd-about .cd-loading-bar {
	background-color: #283040
}

.cd-about .cd-loading-bar::before {
	background-color: #4089a6
}

.cd-loading-bar::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #283040;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translateZ(0);
	transform: scaleX(0);
	transform-origin: left center
}

.page-is-changing .cd-loading-bar {
	visibility: visible;
	transform: translateX(-50%) translateY(-50%) scaleX(.3);
	transition: visibility 0s .3s, transform .4s .4s
}

.page-is-changing .cd-loading-bar::before {
	transform: scaleX(1);
	transition: transform .8s .8s ease-in
}

@media only screen and (min-width:768px) {
	.cd-loading-bar {
		width: calc(100% - 40px)
	}
}